// Navigation Styles here
header {

    .header-topBox {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        border-bottom: 2px dashed @navigation-border;

        .Bar {
            width: 40%;
            font-size:2rem;

            @media @mobile {
                width:100%;
                
                text-align: center;
           }//closes the media query

        }//closes the Bar

        nav {
            display: flex;
            justify-content: space-evenly;
            
            a {
                width:25%;
                font-size: 1.7rem;
                margin:4%;
                text-decoration: none;  
            }//closes the anchor
                
            @media @mobile {
                 width:100%;
                justify-content: space-between;
            }//closes the media query

        }//closes the nav
            
        @media @mobile {
            flex-direction: column;
            padding: 0% 2%;
        }//closes the media query

    }//closes the header-topBox
    
}//closes the header

 .underBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed @navigation-border;

    img {
        width:100%;
    }//closes the image

    .smallbox {
        padding-top:3%;
        margin-bottom: 1%;
    }//closes the smallbox

}// closes the underBox


